<!DOCTYPE html>
<html lang="en">

<head>
    <title>Python - Flask Project</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>



</head>

<body>

    <div class="container min-vh-100">
        <div class="header">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <div class="container-fluid">
                <a class="navbar-brand" href="/">Cinema Flask App</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="login">Log in</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="showSignUp">Sign Up</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link"  href="movies">All movies</a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
        </div>

        <div class="row">
            <div class="col-lg-12 "><h1 class="text-center">Cinema Application</h1></div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-lg-12 d-flex justify-content-center">
                <a class="btn btn-lg btn-primary" href="showSignUp" role="button" style="margin:5px">Sign up</a>
                <a class="btn btn-lg btn-outline-primary" href="login" role="button" style="margin:5px">Log in</a></div>
            <div class="col text-center d-flex justify-content-center"><p class="display-6">Select and reserve your favorite movie right now!</p></div>
        </div>

        <div class="row marketing">
            <div class="col-lg-12">
                <h2>Films</h2>
            </div>
            {% for m in movie_list %}
            <div class="col-lg-12 shadow-sm" style="margin:15px 0">
                <form method="POST" action='/reservation'>
                <p class="h3">{{ m.title }} - {{ m.director }}</p>
                <p><span>Play on {{ m.date }} </span></p>
                <p><span><strong>Start at {{ m.start_time }}</strong></span></p>
                <p><span>Ticket price: {{ m.price }} PLN | Available tickets:</span><span class="badge rounded-pill bg-warning text-dark">{{ m.seats }}</span></p>
                <p><span></span></p>
                    <input type="hidden" name="Title" class="form-control"  required readonly value="{{ m.title}}">
                    <input type="hidden" name="Date" class="form-control"  required readonly value="{{ m.date}}">
                    <input type="hidden" name="Time" class="form-control"  required readonly value="{{ m.start_time}}">
                    <input type="hidden" name="Duration" class="form-control"  required readonly value="{{ m.duration_in_min}}">
                    <input type="hidden" name="Price" class="form-control"  required readonly value="{{ m.price}}">
                <input id=""btnGetTicket class="btn btn-primary btn-block" type="'submit" style="margin:15px 0" value="Get your tickets">
                </form>
            </div>
            {% endfor %}
        </div>

        <footer class="footer position-fixed bottom-0 w-100">
            <p>&copy; Lukasz Adamczak & Daniel Jeziorski - CDV</p>
        </footer>

    </div>
</body>

</html>